<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Profile Page</title>
    </head>
    <body>
        <h1><%= person.name %>'s PROFILE PAGE</h1>
        <!-- Example single danger button -->
        <h2 id="header">Check Out <%=person.name%>'s Playlists:</h2>
        <div class="btn-group">
            <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            >
                Playlists:
            </button>
            <div class="dropdown-menu" id="playlistBtnList">
                <% musicList.forEach( playlists => { %>
                <%if(playlists.TracksPerPlaylist > 0) { %>
                <a
                    class="dropdown-item active"
                    href="#"
                    id="<%=playlists.PlaylistId%>"
                >
                    <%=playlists.Name%>
                </a>
                <% } else { %>
                <a
                    class="dropdown-item"
                    href="#"
                    id="<%=playlists.PlaylistId%>"
                >
                    <%=playlists.Name%>
                </a>
                <% } %> <% }); %>
            </div>
        </div>
        <div>
            <input id="playlistInput" type="text" />
            <button id="sendBtn" class="btn btn-primary">Send</button>
        </div>
        <div id="outputDiv"></div>
        <div>
            <h2 id="trackListHeader" style="visibility: hidden;">
                Track List:
            </h2>
            <ul class="list-group" id="trackList"></ul>
        </div>

        <script src="/public/script.js"></script>
    </body>
</html>
